/* Style CSS dla całej strony */
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}


body {
  background-color: #000000 !important; /* dowolny kolor */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sticky-button-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

/* Customowe marginy i paddingi */
@media (max-width: 1199.99px) {
  .custom-mt-1 {
    margin-top: 1rem !important;
  }
  .custom-mb-1 {
    margin-bottom: 1.5rem !important;
  }
  .custom-video{
    width: 100% !important;
    transform: scaleX(-1);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  /* Burger menu na telefonie */
  .navbar-toggler {
    border: 2px solid rgb(106, 21, 121);
    color: aqua !important;
  }
  .navbar-toggler-icon {
    filter: invert(100%);
  }
  .center-nav {
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    justify-content: center !important;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 3px rgb(195, 125, 208);
  }

}
@media (min-width: 1200px) and (max-width: 1599.99px) {
  .custom-mt-1 {
    margin-top: 1.5rem !important;
  }
  .custom-mb-2 {
    margin-bottom: 3rem !important;
  }
  .custom-video{
    width: 50% !important;
    transform: scaleX(-1);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}
@media (min-width: 1600px) {
  .custom-mt-1 {
    margin-top: 4rem !important;
  }
  .custom-mt-2 {
    margin-top: 5rem !important;
  }
  .custom-video{
    width: 70% !important;
    transform: scaleX(-1);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

/* Style CSS dla App.js */
@media (max-width: 1199.99px) {
  .brightVioletBoxApp{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  .brightVioletBoxApp img{
    width: 60%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1599.99px) {
  .brightVioletBoxApp{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  .brightVioletBoxApp img{
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .brightVioletBoxApp{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  .brightVioletBoxApp img{
    width: 100%;
  }
}


/* Style CSS dla wciskanych przycisków */
@media (max-width: 1199.99px) {
  button.buttonGetStarted {
    position: relative;
    padding: 0.9em 5em !important;
    /* margin-bottom: 2rem; */
    font-size: 1.3rem !important;
    font-weight: 600;
    color: white;
    background: rgb(156, 39, 176);
    border: 2px solid rgb(106, 21, 121);
    border-radius: 3em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  button.buttonGetStarted::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(106, 21, 121);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  button.buttonGetStarted:hover {
    background: rgb(156, 39, 176);
    transform: translate(0, 0.25em);
  }

  button.buttonGetStarted:hover::before {
    transform: translate3d(0, 0.5em, -1em);
  }

  button.buttonGetStarted:active {
    background: rgb(156, 39, 176);
    transform: translate(0em, 0.75em);
  }

  button.buttonGetStarted:active::before {
    transform: translate3d(0, 0, -1em);
  }

}
@media (min-width: 1200px) {
  button.buttonGetStarted {
    position: relative;
    padding: 0.8em 6em !important;
    font-size: 1.5rem !important;
    font-weight: 600;
    color: white;
    background: rgb(156, 39, 176);
    border: 2px solid rgb(106, 21, 121);
    border-radius: 3em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  button.buttonGetStarted::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(106, 21, 121);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  button.buttonGetStarted:hover {
    background: rgb(156, 39, 176);
    transform: translate(0, 0.25em);
  }

  button.buttonGetStarted:hover::before {
    transform: translate3d(0, 0.5em, -1em);
  }

  button.buttonGetStarted:active {
    background: rgb(156, 39, 176);
    transform: translate(0em, 0.75em);
  }

  button.buttonGetStarted:active::before {
    transform: translate3d(0, 0, -1em);
  }

}




/* button.buttonGetStarted {
  position: relative;
  padding: 0.8em 6em !important;
  font-size: 1.5rem !important;
  font-weight: 600;
  color: white;
  background: rgb(156, 39, 176);
  border: 2px solid rgb(106, 21, 121);
  border-radius: 3em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.buttonGetStarted::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(106, 21, 121);
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.buttonGetStarted:hover {
  background: rgb(156, 39, 176);
  transform: translate(0, 0.25em);
}

button.buttonGetStarted:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

button.buttonGetStarted:active {
  background: rgb(156, 39, 176);
  transform: translate(0em, 0.75em);
}

button.buttonGetStarted:active::before {
  transform: translate3d(0, 0, -1em);
} */


/* Style CSS dla HeaderLogo */
img.imgHeaderLogo{
  width: 15rem;
  cursor: pointer;
}


/* Style CSS dla GetStarted */
@media (max-width: 1199.99px) {
  .brightVioletBoxSpellBook{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  .brightVioletBoxSpellBook img{
    width: 70% !important;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1599.99px) {
  .brightVioletBoxSpellBook{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  .brightVioletBoxSpellBook img{
    width: 90% !important;
  }
}
@media (min-width: 1600px) {
  .brightVioletBoxSpellBook{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1199.99px) {
  .brightVioletBoxCalibrate{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
  /* .brightVioletBoxCalibrate button{
    margin-bottom: 2rem;
  } */
}
@media (min-width: 1200px) and (max-width: 1599.99px) {
  .brightVioletBoxCalibrate{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
}
@media (min-width: 1600px) {
  .brightVioletBoxCalibrate{
    background-color: rgb(195, 125, 208);
    box-shadow: 0 0 10px 10px rgb(195, 125, 208);;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-radius: 8px;
    font-size: 1.2rem !important;
  }
}




@media (max-width: 1199.99px) {
  .heightLogo{
    height: 10rem;
    width: auto;
  }
  .heightSpellbook{
    height: 10rem;
    width: auto;
  }
  .buttonCalibrate{
    position: relative;
    padding: 0.8em 4em !important;
    font-size: 1.3rem !important;
    font-weight: 600;
    color: white;
    background: rgb(156, 39, 176);
    border: 2px solid rgb(106, 21, 121);
    border-radius: 3em;
  }
}
@media (min-width: 1200px) and (max-width: 1599.99px) {
  .heightLogo{
    height: 11rem;
    width: auto;
  }
  .heightSpellbook{
    height: 9rem;
    width: auto;
  }
  .buttonCalibrate{
    position: relative;
    padding: 0.8em 4em !important;
    font-size: 1.3rem !important;
    font-weight: 600;
    color: white;
    background: rgb(156, 39, 176);
    border: 2px solid rgb(106, 21, 121);
    border-radius: 3em;
  }
}
@media (min-width: 1600px) {
  .heightLogo{
    height: 10rem;
    width: auto;
  }
  .heightSpellbook{
    height: 10rem;
    width: auto;
  }
  .buttonCalibrate{
    position: relative;
    padding: 0.8em 4em !important;
    font-size: 1.3rem !important;
    font-weight: 600;
    color: white;
    background: rgb(156, 39, 176);
    border: 2px solid rgb(106, 21, 121);
    border-radius: 3em;
  }
}



.spellbook{
  cursor: pointer;
}

